<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973553058687-ikkk1qm68g35ai3hntt3pcqfonr0da50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973553058687-ikkk1qm68g35ai3hntt3pcqfonr0da50</string>
	<key>API_KEY</key>
	<string>AIzaSyAo9FE8PqebxF0R3--7eiWXsXZLun3PUa4</string>
	<key>GCM_SENDER_ID</key>
	<string>973553058687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartCarParking</string>
	<key>PROJECT_ID</key>
	<string>smart-car-parking-dab06</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-car-parking-dab06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973553058687:ios:f62c69ee83aa803a7bd04a</string>
</dict>
</plist>